:root {
    --Navy-MainBG: hsl(233, 47%, 7%);
    --Blue-CardBG: hsl(244, 37%, 16%);
    --Purple-Accent: hsl(277, 64%, 61%);
    --White-MainHeading-Stats: hsl(0, 0%, 100%);
    --White-MainParagraph: hsla(0, 0%, 100%, 0.75);
    --White-StatHeadings: hsla(0, 0%, 100%, 0.6);
    --Family-Inter: 'Inter', sans-serif;
    --Family-LexendDeca: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    background-color: var(--Navy-MainBG);
    font-size: 15px;
}

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
max-width: min-content;
}

.container {
    background-color: var(--Blue-CardBG);
    font-family: var(--Family-Inter);
    max-height: 446px;
    width: 570px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: grid;
    place-items: center;
    padding: 70px;
    box-sizing: border-box;
}

.img {
    background-color: var(--Purple-Accent);
    background-image: url(images/image-header-desktop.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 540px;
    height: 446px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

h1 {
    color: var(--White-MainHeading-Stats);
    font-size: 39px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 20px;
}

span {
    color: var(--Purple-Accent);
}

.text {
    color: var(--White-MainParagraph);
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 25px;
    padding-right: 50px;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 73px;
    margin-right: 75px;
    color: var(--White-StatHeadings);
}

.stats p {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 8px;
    font-weight: 400;
}

@media (max-width: 375px) {

    body {
        place-items: center;
        place-content: initial;
    }

    .parent {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        max-width: min-content;
        height: auto;
    }

    .container {
        border-radius: 0 0 8px 8px;
        width: 327px;
        padding: 20px;
        height: auto;
        grid-area: 2 / 1 / 3 / 2;
        max-height: none;
    }

    .img {
        border-radius: 8px 8px 0 0;
        width: 327px;
        height: 240px;
        grid-area: 1 / 1 / 2 / 2;
        background-image: url(images/image-header-mobile.jpg);
    }

    h1 {
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .text {
        font-size: 145x;
        line-height: 22px;
        padding-right: 0;
        text-align: center;
        margin-top: 23px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .stats {
        flex-direction: column;
        align-items: center;
        margin-top: 45px;
        margin-right: 0;
        gap: 30px;
        text-align: center;
    }
}
